# Week 2 Revature Notes 

---

In [33]:
%%html
# You can click on the bar next to this cell to collapse it <=== On the left
<style>
h1 {
    color: black;
    text-align:center;
}


blockquote{
  display:block;
  background: #fff;
  padding: 25px 20px 25px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Ariak, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{

  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

</style>

## RDBMS - Relational Database Management System

> The software used to store, manage, query, and retrieve data stored in a relational database is called a relational database management system (RDBMS). 

> The RDBMS provides an interface between users and applications and the database, as well as administrative functions for managing data storage, access, and performance.

---

# Basic SQL Queries


### SELECT 

 > extracts data from a database

### UPDATE 

 > updates data in a database

### DELETE 

 > deletes data from a database

### INSERT INTO 

 > inserts new data into a database

### CREATE DATABASE 

 > creates a new database

### ALTER DATABASE 

 > modifies a database

### CREATE TABLE 

 > creates a new table

### ALTER TABLE 

 > modifies a table

### DROP TABLE 

 > deletes a table

### CREATE INDEX 

 > creates an index (search key)

### DROP INDEX 

 > deletes an index
 
---

# Aggregate Function

## AVG()

> Return the average value of the argument

## BIT_AND()

> Return bitwise AND

## BIT_OR()

> Return bitwise OR

## BIT_XOR()

> Return bitwise XOR

## COUNT()

> Return a count of the number of rows  returned

## COUNT(DISTINCT)

> Return the count of a number of different values

## GROUP_CONCAT()

> Return a concatenated string

## JSON_ARRAYAGG()

> Return result set as a single JSON array

## JSON_OBJECTAGG()

> Return result set as a single JSON object

## MAX()

> Return the maximum value

## MIN()

> Return the minimum value

## STD()

> Return the population standard deviation

## STDDEV()

> Return the population standard deviation

## STDDEV_POP()

> Return the population standard deviation

## STDDEV_SAMP()

> Return the sample standard deviation

## SUM()

> Return the sum

## VAR_POP()

> Return the population standard variance

## VAR_SAMP()

> Return the sample variance

## VARIANCE()

> Return the population standard variance

---

## Defining Schemas

> A SQL database contains multiple objects such as tables, views, stored procedures, functions, indexes, triggers. 

> We define SQL Schema as a logical collection of database objects. A user owns that owns the schema is known as schema owner. 

> It is a useful mechanism to segregate database objects for different applications, access rights, managing the security administration of databases. We do not have any restrictions on the number of objects in a schema.

---

#  MySQL Data Types (Version 8.0)

> In MySQL there are three main data types: string, numeric, and date and time.

#  String Data Types


##  CHAR(size) 
 
> A FIXED length string (can contain letters, numbers, and special characters). The size parameter specifies the column length in characters - can be from 0 to 255. Default is 1

##  VARCHAR(size) 
 
> A VARIABLE length string (can contain letters, numbers, and special characters). The size parameter specifies the maximum column length in characters - can be from 0 to 65535

##  BINARY(size) 
 
> Equal to CHAR(), but stores binary byte strings. The size parameter specifies the column length in bytes. Default is 1

##  VARBINARY(size) 
 
> Equal to VARCHAR(), but stores binary byte strings. The size parameter specifies the maximum column length in bytes.

##  TINYBLOB 
 
> For BLOBs (Binary Large Objects). Max length: 255 bytes

##  TINYTEXT 
 
> Holds a string with a maximum length of 255 characters

##  TEXT(size) 
 
> Holds a string with a maximum length of 65,535 bytes

##  BLOB(size) 
 
> For BLOBs (Binary Large Objects). Holds up to 65,535 bytes of data

##  MEDIUMTEXT 
 
> Holds a string with a maximum length of 16,777,215 characters

##  MEDIUMBLOB 
 
> For BLOBs (Binary Large Objects). Holds up to 16,777,215 bytes of data

##  LONGTEXT 
 
> Holds a string with a maximum length of 4,294,967,295 characters

##  LONGBLOB 
 
> For BLOBs (Binary Large Objects). Holds up to 4,294,967,295 bytes of data

##  ENUM(val1, val2, val3, ...) 
 
> A string object that can have only one value, chosen from a list of possible values. You can list up to 65535 values in an ENUM list. If a value is inserted that is not in the list, a blank value will be inserted. The values are sorted in the order you enter them

##  SET(val1, val2, val3, ...) 
 
> A string object that can have 0 or more values, chosen from a list of possible values. You can list up to 64 values in a SET list

#  Numeric Data Types

##  Data type 
 
> Description

##  BIT(size) 
 
> A bit-value type. The number of bits per value is specified in size. The size parameter can hold a value from 1 to 64. The default value for size is 1.

##  TINYINT(size) 
 
> A very small integer. Signed range is from -128 to 127. Unsigned range is from 0 to 255. The size parameter specifies the maximum display width (which is 255)

##  BOOL 
 
> Zero is considered as false, nonzero values are considered as true.

##  BOOLEAN 
 
> Equal to BOOL

##  SMALLINT(size) 
 
> A small integer. Signed range is from -32768 to 32767. Unsigned range is from 0 to 65535. The size parameter specifies the maximum display width (which is 255)

##  MEDIUMINT(size) 
 
> A medium integer. Signed range is from -8388608 to 8388607. Unsigned range is from 0 to 16777215. The size parameter specifies the maximum display width (which is 255)

##  INT(size) 
 
> A medium integer. Signed range is from -2147483648 to 2147483647. Unsigned range is from 0 to 4294967295. The size parameter specifies the maximum display width (which is 255)

##  INTEGER(size) 
 
> Equal to INT(size)

##  BIGINT(size) 
 
> A large integer. Signed range is from -9223372036854775808 to 9223372036854775807. Unsigned range is from 0 to 18446744073709551615. The size parameter specifies the maximum display width (which is 255)

##  FLOAT(size, d) 
 
> A floating point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter. This syntax is deprecated in MySQL 8.0.17, and it will be removed in future MySQL versions

##  FLOAT(p) 
 
> A floating point number. MySQL uses the p value to determine whether to use FLOAT or DOUBLE for the resulting data type. If p is from 0 to 24, the data type becomes FLOAT(). If p is from 25 to 53, the data type becomes DOUBLE()

##  DOUBLE(size, d) 
 
> A normal-size floating point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter

##  DOUBLE PRECISION(size, d) 
 
>  

##  DECIMAL(size, d) 
 
> An exact fixed-point number. The total number of digits is specified in size. The number of digits after the decimal point is specified in the d parameter. The maximum number for size is 65. The maximum number for d is 30. The default value for size is 10. The default value for d is 0.

##  DEC(size, d) 
 
> Equal to DECIMAL(size,d)

> ##  Note: All the numeric data types may have an extra option: UNSIGNED or ZEROFILL. If you add the UNSIGNED option, MySQL disallows negative values for the column. If you add the ZEROFILL option, MySQL automatically also adds the UNSIGNED attribute to the column.

--- 

#  Date and Time Data Types

##  Data type 
 
> Description

##  DATE 
 
> A date. Format: YYYY-MM-DD. The supported range is from '1000-01-01' to '9999-12-31'

--- 

##  DATETIME(fsp) 
 
> A date and time combination. Format: YYYY-MM-DD hh:mm:ss. The supported range is from '1000-01-01 00:00:00' to '9999-12-31 23:59:59'. Adding DEFAULT and ON UPDATE in the column definition to get automatic initialization and updating to the current date and time

##  TIMESTAMP(fsp) 
 
> A timestamp. TIMESTAMP values are stored as the number of seconds since the Unix epoch ('1970-01-01 00:00:00' UTC). Format: YYYY-MM-DD hh:mm:ss. The supported range is from '1970-01-01 00:00:01' UTC to '2038-01-09 03:14:07' UTC. Automatic initialization and updating to the current date and time can be specified using DEFAULT CURRENT_TIMESTAMP and ON UPDATE CURRENT_TIMESTAMP in the column definition

##  TIME(fsp) 
 
> A time. Format: hh:mm:ss. The supported range is from '-838:59:59' to '838:59:59'

##  YEAR 
 
> A year in four-digit format. Values allowed in four-digit format: 1901 to 2155, and 0000.

##  MySQL 8.0 does not support year in two-digit format.

## Constraints##  MySQL Data Types (Version 8.0)

## Referential Integrity

## Table Relationships / Multiplicity

## Normalization

## Atomicity

## Consistency

## Isolation

## Durability

## What is a view?

## Advantages of views

## Creating and modifying views

## JOINS
---

<center><h1>Inner Join</h1></center>

<center><img src="./images/INNER_JOIN.png"/></center>


> The INNER JOIN is a process that matches rows from the first table and the second table which have the same key (as defined by the ON constraint) to create a result row with the combined columns from both tables. After the tables are joined, the other clauses we learned previously are then applied.


> You might see queries where the INNER JOIN is written simply as a JOIN. These two are equivalent, but we will continue to refer to these joins as inner-joins because they make the query easier to read once you start using other types of joins

> This is the simplest, most understood Join and is the most common. This query will return all of the records in the left table (table A) that have a matching record in the right table (table B). This Join is written as follows:

``` SQL
select * 
from movies as m
inner join boxoffice as b
on m.id = b.movie_id
```

---

<center><h1>Outer Join</h1></center>

<center><img src="./images/FULL_OUTER_JOIN.png"/></center>

> This Join can also be referred to as a FULL OUTER JOIN or a FULL JOIN. This query will return all of the records from both tables, joining records from the left table (table A) that match records from the right table (table B). This Join is written as follows:

>The FULL OUTER JOIN keyword returns all records when there is a match in left (table1) or right (table2) table records.

> Tip: FULL OUTER JOIN and FULL JOIN are the same.

```SQL
SELECT *
FROM Movies as M
FULL OUTER JOIN Boxoffice as B
ON M.id = b.movie_id
```

---

<center><h1>Left Join</h1></center>

<center><img src="./images/LEFT_JOIN.png"/></center>

> a LEFT JOIN simply includes rows from A regardless of whether a matching row is found in B

> The LEFT JOIN keyword returns all records from the left table  , and the matching records from the right table. The result is 0 records from the right side, if there is no match.

```SQL
select distinct(building_name)
from buildings as b
left join employees as e
on b.building_name = e.building
where role not null
```

---

<center><h1>Right Join</h1></center>

<center><img src="./images/RIGHT_JOIN.png"/></center>

> A RIGHT JOIN is the same as a LEFT JOIN, but reversed, keeping rows in B regardless of whether a match is found in A

> The RIGHT JOIN keyword returns all records from the right table, and the matching records from the left table. The result is 0 records from the left side, if there is no match.

```SQL
select distinct(building_name)
from buildings as b
right join employees as e
on b.building_name = e.building
where role not null
```

---

## Group by

## Having

## Aggregate Functions

## Set Operations

## Subqueries

## SQL Review Questions

##  What is SQL?

##  What is a relational database management system?

##  What is a database?

##  What are the sublanguages of SQL?

##  What is cardinality?

## https://en.wikipedia.org/wiki/Cardinality_(data_modeling)

##  What is a candidate key?

##  What is referential integrity?

##  What are primary keys? Foreign keys?

##  What are some of the different constraints on columns?

##  What is an entity relation diagram?

##  What are the differences between WHERE vs HAVING?

##  What are the differences between GROUP BY and ORDER BY?

##  What does LIKE do?

##  How do I use sub queries?

##  How does BETWEEN work?

##  What is the order of operations in an SQL statement?

## The order of a SELECT, FROM, WHERE, GROUP BY, HAVING, ORDER BY query is FROM, WHERE, GROUP BY, HAVING, ORDER BY, SELECT.  The columns are actually SELECTed at the end, despite SELECT coming first.

##  What is the difference between an aggregate function and a scalar function?

##  What are examples of aggregate and scalar functions?

##  What are the different joins in SQL?

## We have INNER, OUTER LEFT, OUTER RIGHT, and OUTER FULL joins.  INNER joins only include records with a match in the output (so records where the join condition is true).  OUTER joins includes records with a match *and* all unmatched records from the left, right, or both tables.

## The part of the JOIN ```ON album.artist_id = artist.artist_id``` is the join condition.  WHen the join condition is true for a pair of records, those records are matched together in the output.  90+% of the time, the join condition will be equality based on a foreign key relationship, but you can have various strange join conditions.  A join condition of just TRUE will include all pairs of records in the output and is called a CROSS JOIN.

##  What are the different set operations in SQL? Which set operations support duplicates?

## UNION, INTERSECT, UNION ALL are good to know.  UNION combines two resultsets removing duplicates, INTERSECT produces results that appear in both of two result sets, and UNION ALL combines two resultsets including duplicates.

##  What is the difference between joins and set operations?

##  How can I create an alias in SQL?

##  What does the AS keyword do in a query?

##  What is a transaction?

##  What are the properties of a transaction?

##  What are the transaction isolation levels and what do they prevent?

##  What are dirty reads, non repeatable reads, and phantom reads?

##  What is normalization?

##  What are the requirements for different levels of normalization?

##  What is a view? a materialized view?

##  What is a dao?

##  What is the danger of putting values directly into our queries?

##  How do we specify dependencies using sbt?

##  What is a port number?

##  What's the default port for Postgres?

##  What is multiplicity?  Examples of 
 
## t
 
## #1, 
 
## t
 
## N, 
 
## t
 
## N?

##  What is an Index?

##  What advantages does creating an Index give us? Disadvantages?

##  What is CRUD?

## What does it mean that an operation or transaction on a data store is atomic?

##  What does ACID stand for?

##  What does BASE stand for?

## out of topic

##  What is the CAP Theorem?

##  What does CAP mean for our distributed data stores when they have network problems?